In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('/home/macrodrigues/code/macrodrigues/skills_matcher/data/raw_data/raw_data_3.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df = df.dropna()

## Cleaning and remove few counts of Job Positions

In [3]:
list_of_small_counts = list(df.groupby('careers').count()['ISCO'].loc[df.groupby('careers').count()['ISCO'] < 7].index)
len(list_of_small_counts)

90

In [4]:
def filter_careers(val):
        if val not in list_of_small_counts:
            return val

In [5]:
df.careers = df.careers.apply(filter_careers)
df = df.dropna()

## Separate by ISCO codes

In [6]:
iscos = pd.read_csv('/home/macrodrigues/code/macrodrigues/skills_matcher/data/raw_data/raw_data_0.csv')

In [7]:
iscos = iscos.rename({'major_ISCO': 'ISCO'}, axis = 1)
iscos = iscos[['ISCO', 'major_jobs']]

In [8]:
df = df.merge(iscos, on='ISCO', how = 'inner')
df = df[['ISCO', 'major_jobs', 'careers', 'career_scraped', 'location_scraped', 'info']]

In [9]:
df = df.rename({'major_jobs': 'major_job', 'careers': 'job', 'career_scraped': 'position', 'location_scraped':'location', 'info': 'description'}, axis = 1)

In [10]:
df

,ISCO,major_job,job,position,location,description
0,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Accelerator Physicist id54315,"Villigen PSI, Aargau",[' You have an academic degree in physics or e...
1,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Applied Physicist (Computing) (EP-LBC-2021-125...,Geneva,[' Be in charge of the development of applicat...
2,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Accelerator Physicist (BE-ABP-LNO-2021-122-LD)...,Geneva,[' Contribute to the maintenance and developme...
3,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Medical Devices Physicist,"Newton, Cambridgeshire",[' Agency: Newton Colmore Consulting Reference...
4,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Fluidics Physicist,Cambridge,[' Agency: Newton Colmore Consulting Reference...
...,...,...,...,...,...,...
4931,91,CLEANERS AND HELPERS,washer,Dishwasher employee,"Amsterdam, Noord-Holland",[' Eye for detail and through! You have a real...
4932,91,CLEANERS AND HELPERS,washer,Detail Technician/Fleet Washer/Truck Washer/Au...,Michigan,[' Paid Training Direct Care (health) Paid Vac...
4933,91,CLEANERS AND HELPERS,washer,Detail Technician/Fleet Washer/Truck Washer/Au...,"Warszawa, Mazowieckie",[' Paid Training Direct Care (health) Paid Vac...
4934,91,CLEANERS AND HELPERS,washer,Detail Technician/Fleet Washer/Truck Washer/Au...,Michigan,[' Paid Training Direct Care (health) Paid Vac...
4935,91,CLEANERS AND HELPERS,washer,Horeca Medewerker Afwas/Stewarding / Hospitali...,"Eindhoven, Noord-Brabant",[' Enthousiast en energiek Eerlijk Flexibel in...

In [153]:
df.groupby(['ISCO', 'major_job']).agg({'position': 'count'})

                                                         position
ISCO major_job
12   ADMINISTRATIVE AND COMMERCIAL MANAGERS                   372
21   SCIENCE AND ENGINEERING PROFESSIONALS                    970
22   HEALTH PROFESSIONALS                                     719
23   TEACHING PROFESSIONALS                                   279
24   BUSINESS AND ADMINISTRATION PROFESSIONALS                311
25   INFORMATION AND COMMUNICATIONS TECHNOLOGY PROFE...       476
31   SCIENCE AND ENGINEERING ASSOCIATE PROFESSIONALS          109
32   HEALTH ASSOCIATE PROFESSIONALS                           105
33   BUSINESS AND ADMINISTRATION ASSOCIATE PROFESSIO...       320
35   INFORMATION AND COMMUNICATIONS TECHNICIANS               113
42   CUSTOMER SERVICES CLERKS                                 262
52   SALES WORKERS                                            203
54   PROTECTIVE SERVICES WORKERS                              126
61   MARKET-ORIENTED SKILLED AGRICULTURAL WORKERS             134
83   DRIVERS AND MOBILE PLANT OPERATORS                       222
91   CLEANERS AND HELPERS                                     215