# Create Dict with degrees

In [ ]:
import pandas as pd

In [30]:
df = pd.read_csv('/Users/MiraMetzger/mastersl.csv')[['program_name','program_type']]
df

                                        program_name              program_type
0                                          Economics                       MSc
1        Political Science and International Affairs                    Master
2                            Business Administration                       MBA
3                   Computer and Information Science                       MSc
4      Industrial Engineering and Systems Management                      MEng
...                                              ...                       ...
60420                             Electrical Systems                      MEng
60421                          Industrial Automation                      MEng
60422                  Renewable Energy Technologies  Postgraduate Certificate
60423                                         Safety                      MEng
60424                                Food Technology                       MFT

[60425 rows x 2 columns]

In [121]:
# only take common program_types

top_program_type = df['program_type'].value_counts().head(10)
types = list(top_program_type.index) + ['BA','BSc','Bachelor','PhD']
types

['MSc',
 'MA',
 'Master',
 'MBA',
 'MEd',
 'Postgraduate Certificate',
 'LLM',
 'MEng',
 'Postgraduate Diploma',
 'MPhil',
 'BA',
 'BSc',
 'Bachelor',
 'PhD']

In [122]:
# only take common program_name
top_program_name = df['program_name'].value_counts().head(500)
top_program_name.head()

Computer Science                     435
Master of Business Administration    387
Economics                            360
History                              359
Chemistry                            353
Name: program_name, dtype: int64

In [126]:
import itertools

list1 = list(itertools.product(types, list(top_program_name.index)))

In [131]:
degree = [a + ' in ' + b for a, b in list1]
len(degree)

7000

In [132]:
degree[0:5]

['MSc in Computer Science',
 'MSc in Master of Business Administration',
 'MSc in Economics',
 'MSc in History',
 'MSc in Chemistry']

In [163]:
skill = ['DEGREE' for row in degree]
final = pd.DataFrame({'Label': skill, 'Skill':degree})
final.head()

    Label                                     Skill
0  DEGREE                   MSc in Computer Science
1  DEGREE  MSc in Master of Business Administration
2  DEGREE                          MSc in Economics
3  DEGREE                            MSc in History
4  DEGREE                          MSc in Chemistry

In [164]:
final.to_csv("degrees.csv", index = False)