In [48]:
import pandas as pd
import numpy as np
import os

In [49]:
df = pd.read_csv('/home/macrodrigues/code/macrodrigues/skills_matcher/data/raw_data/raw_data_3.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df = df.dropna()

## Clean empty lists

In [50]:
def filter_lists(x):
    if x:
        return x
    return None

In [51]:
from ast import literal_eval
df['info'] = df['info'].apply(literal_eval)

In [52]:
df['info'] = df['info'].apply(filter_lists)
df = df.dropna()

## Cleaning and remove few counts of Job Positions

In [53]:
list_of_small_counts = list(df.groupby('careers').count()['ISCO'].loc[df.groupby('careers').count()['ISCO'] < 10].index)
len(list_of_small_counts)

115

In [54]:
def filter_careers(val):
        if val not in list_of_small_counts:
            return val

In [55]:
df.careers = df.careers.apply(filter_careers)
df = df.dropna()

## Separate by ISCO codes

In [56]:
iscos = pd.read_csv('/home/macrodrigues/code/macrodrigues/skills_matcher/data/raw_data/raw_data_0.csv')

In [57]:
iscos = iscos.rename({'major_ISCO': 'ISCO'}, axis = 1)
iscos = iscos[['ISCO', 'major_jobs']]

In [58]:
df = df.merge(iscos, on='ISCO', how = 'inner')
df = df[['ISCO', 'major_jobs', 'careers', 'career_scraped', 'location_scraped', 'info']]

In [59]:
df = df.rename({'major_jobs': 'major_job', 'careers': 'job', 'career_scraped': 'position', 'location_scraped':'location', 'info': 'description'}, axis = 1)

In [60]:
df.groupby(['ISCO', 'major_job']).agg({'position': 'count'})

                                                         position
ISCO major_job
12   ADMINISTRATIVE AND COMMERCIAL MANAGERS                   321
21   SCIENCE AND ENGINEERING PROFESSIONALS                    885
22   HEALTH PROFESSIONALS                                     626
23   TEACHING PROFESSIONALS                                   252
24   BUSINESS AND ADMINISTRATION PROFESSIONALS                288
25   INFORMATION AND COMMUNICATIONS TECHNOLOGY PROFE...       447
31   SCIENCE AND ENGINEERING ASSOCIATE PROFESSIONALS          104
32   HEALTH ASSOCIATE PROFESSIONALS                            73
33   BUSINESS AND ADMINISTRATION ASSOCIATE PROFESSIO...       253
35   INFORMATION AND COMMUNICATIONS TECHNICIANS                94
42   CUSTOMER SERVICES CLERKS                                 239
52   SALES WORKERS                                            185
54   PROTECTIVE SERVICES WORKERS                              111
61   MARKET-ORIENTED SKILLED AGRICULTURAL WORKERS             121
83   DRIVERS AND MOBILE PLANT OPERATORS                       211
91   CLEANERS AND HELPERS                                     202

In [61]:
def join_list(x):
    return ','.join(x)

df.description = df.description.apply(join_list)
df

,ISCO,major_job,job,position,location,description
0,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Accelerator Physicist id54315,"Villigen PSI, Aargau",You have an academic degree in physics or eng...
1,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Applied Physicist (Computing) (EP-LBC-2021-125...,Geneva,Be in charge of the development of applicatio...
2,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Accelerator Physicist (BE-ABP-LNO-2021-122-LD)...,Geneva,Contribute to the maintenance and development...
3,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Medical Devices Physicist,"Newton, Cambridgeshire",Agency: Newton Colmore Consulting Reference: ...
4,21,SCIENCE AND ENGINEERING PROFESSIONALS,physicist,Fluidics Physicist,Cambridge,Agency: Newton Colmore Consulting Reference: ...
...,...,...,...,...,...,...
4407,91,CLEANERS AND HELPERS,washer,Dishwasher employee,"Amsterdam, Noord-Holland",Eye for detail and through! You have a real h...
4408,91,CLEANERS AND HELPERS,washer,Detail Technician/Fleet Washer/Truck Washer/Au...,Michigan,Paid Training Direct Care (health) Paid Vacat...
4409,91,CLEANERS AND HELPERS,washer,Detail Technician/Fleet Washer/Truck Washer/Au...,"Warszawa, Mazowieckie",Paid Training Direct Care (health) Paid Vacat...
4410,91,CLEANERS AND HELPERS,washer,Detail Technician/Fleet Washer/Truck Washer/Au...,Michigan,Paid Training Direct Care (health) Paid Vacat...
4411,91,CLEANERS AND HELPERS,washer,Horeca Medewerker Afwas/Stewarding / Hospitali...,"Eindhoven, Noord-Brabant",Enthousiast en energiek Eerlijk Flexibel inze...

In [62]:
df.to_csv('cleaned_data.csv')