## <center>Scrap Countries, Positions, Salary and Skills</center>

In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

## On Tucareers

In [4]:
def scrap_careers(career, num_pages = 10, soup = 'Tucareers'):
    job_titles = []
    for i in range(1, num_pages + 1):
        raw = make_soup(career, i).find_all('div', class_ = 'row')
        for element in raw:
            if element.find_all('h2'):
                for job in element.find_all('h2'):
                    job_titles.append(job.text)
                    
    job_titles = [i for i in job_titles if 'Jobs & Internships' not in i]
    job_titles = [i for i in job_titles if career.replace('%20', ' ') in i.lower()]
    job_titles = [i.split(' – ')[0] for i in job_titles]
    job_titles = [i.split(' - ')[0] for i in job_titles]                
    return job_titles

In [53]:
def scrap_locations(career, num_pages = 10, soup = 'Tucareers'):
    locations = []
    for i in range(1, num_pages + 1):
        raw = make_soup(career, i).find_all('div', class_ = 'row')
        for element in raw:
            if element.find_all('div', class_ = 'col-lg-12 col-md-12 col-sm-12'):
                 for location in element.find_all('div', class_ = 'col-lg-12 col-md-12 col-sm-12'):
                        if location.find_all('h2'):
                            location = location.text.split('\n')
                            print(location[0])
                        #locations.append(location.text.split(' - ')[-1])
    return locations

In [6]:
def scrap_salary(career, num_pages = 1, soup = 'Tucareers'):
    pass

In [276]:
def scrap_job_links(career, num_pages = 1, soup = 'Tucareers'):
    job_links = []
    for i in range(1, num_pages + 1):
        raw = make_soup(career, i).find_all('div', class_ = 'row')
        for element in raw:
            if element.find_all('div', class_ = 'col-lg-12 col-md-12 col-sm-12'):
                for link in element.find_all('div', class_ = 'col-lg-12 col-md-12 col-sm-12'):
                    link = str(link).split('href="')
                    link = link[1].split('" target=')
                    job_links.append(link[0])
    return job_links

In [72]:
def scrap_all(career, num_pages = 3, soup = 'Tucareers'):
    job_titles = []
    locations = []
    job_links = []
    for i in range(1, num_pages + 1):
        raw = make_soup(career, i).find_all('div', class_ = 'row')
        career_clean = career.replace('%20', ' ')
        for element in raw:
             for i in element.find_all('div', class_ = 'col-lg-12 col-md-12 col-sm-12'):
                    if career_clean in i.text.split('\n')[0].lower():
                        job_titles.append(i.text.split('\n')[0])
                        locations.append(i.text.split(' - ')[-1])
                        link = str(i).split('href="')
                        link = link[1].split('" target=')
                        job_links.append(link[0])
                        
    job_titles = [i.split(' – ')[0] for i in job_titles]
    job_titles = [i.split(' - ')[0] for i in job_titles]
    return job_titles, locations, job_links

In [73]:
jobs_final = pd.read_csv('raw_data_3.csv').drop(['Unnamed: 0'], axis=1)
jobs_final.head()

   ISCO           careers careers_scrap_format
0    21        astronomer           astronomer
1    21         physicist            physicist
2    21  plasma physicist   plasma%20physicist
3    21     meteorologist        meteorologist
4    21        biochemist           biochemist

In [2]:
jobs_final['all_scraped'] = jobs_final.careers_scrap_format.apply(scrap_all)

In [83]:
data = jobs_final.copy()
data[['career_scraped','location_scraped', 'link_for_skills']] = pd.DataFrame(data.all_scraped.tolist(), index= data.index)

In [84]:
data.head()

,ISCO,careers,careers_scrap_format,all_scraped,career_scraped,location_scraped,link_for_skills
0,21,astronomer,astronomer,"([Astronomer (Post-Doctoral Research Fellow), ...","[Astronomer (Post-Doctoral Research Fellow), B...","[Cambridge, London, Bavaria, London, London, C...",[http://jobviewtrack.com/en-gb/job-1f4f417d421...
1,21,physicist,physicist,"([Accelerator Physicist id54315, Applied Physi...","[Accelerator Physicist id54315, Applied Physic...","[Villigen PSI, Aargau, Geneva, Geneva, Oxford,...",[http://jobviewtrack.com/en-gb/job-1f1d412c1c5...
2,21,plasma physicist,plasma%20physicist,([Plasma physicist with experience of numerica...,[Plasma physicist with experience of numerical...,"[Czech Republic, Czech Republic, Czech Republi...",[http://jobviewtrack.com/en-gb/job-4e1c4168551...
3,21,meteorologist,meteorologist,"([Aviation Meteorologist, Physicist, Geophysic...","[Aviation Meteorologist, Physicist, Geophysici...","[Farnborough, Hampshire, Neustrelitz, Mecklenb...",[http://jobviewtrack.com/en-gb/job-4f19416c5b0...
4,21,biochemist,biochemist,"([Research Scientist, Senior Scientist, Protei...","[Research Scientist, Senior Scientist, Protein...","[Slough, Berkshire, Slough, Berkshire, Slough,...",[http://jobviewtrack.com/en-gb/job-4f12417f481...

In [85]:
data = data.explode(['career_scraped','location_scraped', 'link_for_skills'])

In [87]:
data = data.drop(['all_scraped'], axis = 1)
data = data.drop_duplicates()

In [90]:
data.to_csv('raw_data_2.csv')